@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

/* Typography */


a {
    font-size: .75rem;
    text-decoration: none;
}


/* Layout */

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 768px;

}

header {
    padding: .25em 0;
    /* border-bottom: 2px solid #252525; */
    background: #F5F5F5;
}

.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navigation Bar */

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

li {
    margin-right: 1em;
    text-transform: uppercase;
    color: #252525;
}

li:last-child {
    margin-right: 0;
}

.nav-title {
    font-size: .9rem;
    font-weight: 700;
}

.nav-links {
    color: #252525;
    font-weight: 700;
}

/* Main */