@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

/* Typography */

h1,
span,
p,
h2 {
    margin: 0;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.25rem;
}

p {
    font-size: 0.75rem;
    line-height: 1.7;
}

a {
    font-size: .75rem;
    text-decoration: none;
}


/* Layout */

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 768px;

}

header, 
.blogs {
    background: #F5F5F5;
}

.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navigation Bar */

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

li {
    margin-right: 1em;
    text-transform: uppercase;
    color: #252525;
}

li:last-child {
    margin-right: 0;
}

.nav-title {
    font-size: .9rem;
    font-weight: 700;
    color: #252525;
    margin-left: 1em;
}

.nav-links {
    color: #252525;
    font-weight: 700;
    margin-right: 1em;
}

/* Main */

main {
    background: #252525;
    background-image: url('img/avi-richards-Z3ownETsdNQ-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-blend-mode:color-dodge;
}

.main-items {
    padding-top: 7em;
    padding-bottom: 5em;
    color: #F5F5F5;
}

.main-title,
.main-body {
    max-width: 500px;
}

.main-title,
.main-body,
.main-date {
    text-shadow: 0 1px #555555;
}

.main-title {
    margin-bottom: 0.25em;
}

.main-date {
    font-size: 0.75rem;
}

/* Blogs */

.blog-items {
    padding: 2em 0;
}

.blog {
    max-width: 500px;
    margin: 0 auto;
}

.blog:last-child {
    margin-bottom: 0;
}

.blog-body,
.blog-title {
    color: #252525;
}

.blog-title {
    margin: .5em 0;
}

.blog-img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-date {
    font-size: 0.6rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #555555;
}


/* Footer */

footer {
    text-align: center;
    padding: 1em 0;
    background: #252525;
}

footer p {
    color: #F5F5F5;
    opacity: 0.5;
}

@media (min-width: 768px) {

    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 0.8rem;
    }


    .blog-items {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    .blog {
        width: 32%;
    }

    .nav-title {
        margin-left: 3em;
    }

    .nav-links {
        margin-right: 3em;
    }

    .blog-img {
        height: 175px;
    }

}
